@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;800;900&display=swap");
@import "tailwindcss";

* {
    font-family: "Lato", sans-serif;
}

.container2 {
    width: 95%;
    margin: 0 auto;
}

@media (min-width: 1400px) {
    .container2 {
        width: 1350px;
    }
}
